.swiper {
  width: 100%;
  height: 100%;
}

.swiper.newsSlider {
  height: 408px;

  --swiper-theme-color: #649612 !important;
  --swiper-navigation-size: 24px !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide.slideNot {
  width: 313px !important;
  height: 249px !important;

  background-color: #ececec;
  border-radius: 20px;
}

.swiper-slide-active.slideActive {
  width: 632px !important;
  height: 308px !important;

  background-color: #ececec;
  border-radius: 20px;
}

.swiper-wrapper {
  align-items: flex-start !important;
}

.swiper-button-next {
  right: 44.5% !important;
  top: 340px;
  z-index: 10;
  position: absolute;

  width: 60px;
  height: 60px;
  border-radius: 50px;

  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  color: var(#649612) !important;
  background-color: #ececec !important;
}

.swiper-button-next::after {
  width: 24px !important;
  height: 17px !important;
  /* background: url("../../public/arrow.png") !important; */
  background-position: center !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  color: #649612 !important;

  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.swiper-button-prev {
  left: 44.5% !important;
  top: 340px;
  z-index: 10;
  position: absolute;

  width: 60px;
  height: 60px;
  border-radius: 50px;

  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  color: var(#649612) !important;
  background-color: #ececec !important;
}

.swiper-button-prev::after {
  width: 10px !important;
  height: 10px !important;
  /* background: url("../../public/arrow.png") !important; */
  background-position: center !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  color: #649612 !important;

  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
